{% extends "layout.html" %}
{% block content %}
{% load static %}
<section class="bcard-container flex-1">
    <div class="my-container  pb-5">
        <div class="bcard-box">
            <div class="row responsive-section align-items-center">
                <form action="" method="post">
                    <h1 class="font-roleway text-center font-extrabold justify-center text-qitext text-3xl xl:text-5xl">
                        Business Card Order
                        Details</h1>
                    {% csrf_token %}
                    <div class="border-1 relative border-qitext mx-16 sm:mx-28 xl:mx-28 mb-10 xl:mb-20">
                        <div class="absolute w-1/6 rounded-3xl bg-qitext"
                             style="top: -50%; transform: translateY(-50%); right: -1px; height: 5px;"></div>
                    </div>
                    <div class="row input-group">
                        <div class="mb-3 row justify-content-md-center">
                            <div class="col-sm-10">
                                <label class="col-form-label" for="employee_id">Employee ID</label>
                                <input class="form-control rounded-full shadow-sm" id="staticEmail" name="employee_id" readonly type="text" value="{{ object.employee_id }}">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-md-center">
                            <div class="col-sm-10">
                                <label class="col-form-label" for="full_name_en">Full Name En</label>
                                <input class="form-control rounded-full shadow-sm" name="full_name_en" readonly type="text" value="{{ object.first_name_en }} {{ object.last_name_en|default:'' }}">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-md-center">
                            <div class="col-sm-10">
                                <label class="col-form-label" for="full_name_ar">Full Name Ar</label>
                                <input class="form-control rounded-full shadow-sm" name="full_name_en" readonly type="text" value="{{ object.first_name_ar }} {{ object.last_name_ar|default:'' }}">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-md-center">
                            <div class="col-sm-10">
                                <label class="col-form-label" for="job_title">Job Title En</label>
                                <input class="form-control rounded-full shadow-sm" name="job_title" readonly type="text" value="{{object.job_title}}">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-md-center">
                            <div class="col-sm-10">
                                <label class="col-form-label" for="job_title_ar">Job Title Ar</label>
                                <input class="form-control rounded-full shadow-sm" id="jobTitleAr" name="job_title_ar" readonly type="text" value="{{ object.job_title_ar }}">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-md-center">
                            <div class="col-sm-10">
                                <label class="col-form-label" for="phone">Phone Number</label>
                                <input class="form-control rounded-full shadow-sm" id="phoneNumber" name="phone" readonly type="text" value="{{ object.phone }}">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-md-center">
                            <div class="col-sm-10">
                                <label class="col-form-label" for="quantity">Quantity</label>
                                <input class="form-control rounded-full shadow-sm" name="quantity" readonly type="number" value="{{ object.quantity }}">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-md-center">
                            <div class="col-sm-10">
                                <label class="col-form-label" for="status">Status</label>
                                <input class="form-control rounded-full shadow-sm" id="status" name="status" readonly type="text" value="{{ object.status }}">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-md-center">
                            <div class="col-sm-10">
                                <label class="col-form-label" for="created_by">Created By</label>
                                <input class="form-control rounded-full shadow-sm" name="created_by" readonly type="text" value="{{ object.created_by }}">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-md-center">
                            <div class="col-sm-10">
                                <label class="col-form-label" for="created_at">Created At</label>
                                <input class="form-control rounded-full shadow-sm" name="created_at" readonly type="text" value="{{ object.created_at }}">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-md-center">
                            <div class="col-sm-10">
                                <label class="col-form-label" for="status_change_by">Status Changed By</label>
                                <input class="form-control rounded-full shadow-sm" name="status_change_by" readonly type="text" value="{{ object.status_change_by }}">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-md-center">
                            <div class="col-sm-10">
                                <label class="col-form-label" for="status_change_at">Status Changed At</label>
                                <input class="form-control rounded-full shadow-sm" name="status_change_at" readonly type="text" value="{{ object.status_change_at }}">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}