{% extends "layout.html" %}
{% block content %}
{% load static %}
{% load humanize %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.1.1/css/buttons.bootstrap5.min.css" />
<link rel="stylesheet" type="text/css"
  href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap5.min.css" />
<!-- filter options -->
<div class="header mb-5">
    <div class="mb-3">
        <div class="row justify-content-around justify-content-center my-container">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 m-3">
                <div class="row p-3 justify-center text-center bg-qitext text-white rounded-3xl ">
                    <h1 class="m-3">Total Requests</h1>
                    <h1>{{total_requests}}</h1>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 m-3">
                <div class="row p-3 justify-center text-center bg-qitext text-white rounded-3xl ">
                    <h1 class="m-3">Done Requests</h1>
                    <h1>{{Done_requests}}</h1>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 m-3">
                <div class="row p-3 justify-center text-center bg-qitext text-white rounded-3xl ">
                    <h1 class="m-3">Approved Requests</h1>
                    <h1>{{Approved_requests}}</h1>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 m-3">
                <div class="row p-3 justify-center text-center bg-qitext text-white rounded-3xl ">
                    <h1 class="m-3">In Printing Requests</h1>
                    <h1>{{InPrinting_requests}}</h1>
                </div>
            </div>
        </div>
    </div>
    <h3 class="message text-center text-3xl x2l:text-4xl font-extrabold font-roleway mb-5">All Business Card Orders</h3>
    <div class="my-container lg:flex x2l:block justify-center">
        <div class="orders-section pb-3 p-2 xl:p-10 lg:flex flex-col justify-center text-center bg-qitext text-white">

        <div class="filtered">
    <section class="main overlay-black">
      <div class="container wrapper">

        <form method="GET" id="filterform">
          <div class="row g-3">
              <div class="col-lg-6 col-sm-12 col-xs-12 mb-3">
               <div class="input-field id-input shadow-sm flex items-center w-full rounded-full px-2 py-2 bg-gray-100">
                <input type="text" class="w-full pl-5 bg-inherit focus-visible:outline-none text-dark" id="keywords" name="keywords" aria-describedby="Search by Employee ID, Full Name and Job Title" placeholder="Search by Employee ID, Full Name and Job Title">
               </div>
            </div>
              <div class="col-lg-2 col-sm-6 col-sx-6 mb-3">
                  <div class="input-field id-input shadow-sm flex items-center w-full rounded-full px-2 py-2 bg-gray-100">
                    <select class="w-full pl-5 bg-inherit focus-visible:outline-none text-dark" placeholder="select status" id="status"
                      name="status" onchange="javascript:this.form.submit()">
                        <option value=''>All</option>
                      <option value='Pending'>Pending</option>
                      <option value='Approved'>Approved</option>
                      <option value='Reject'>Reject</option>
                      <option value='In Printing'>In Printing</option>
                      <option value='Done'>Done</option>
                    </select>
                  </div>
              </div>
          <div class="col-lg-2 col-sm-6 col-sx-6 align-self-end mb-3">
              <div class="btn-group rounded-full" role="group">
              <button type="submit" name="search" value="search" class="btn btn-warning">Search</button>
              <button type="submit" name="clear" value="clear" class="btn btn-danger">Clear</button>
              </div>

        </form>
      </div>
    </section>
  </div>
            <section class="company-jobs ptb80">
                <div class="container">
<!--                  <h4>We found {{ requests_count }} matches.</h4>-->
                  <div class="table-responsive">
                      <table class="table bg-qi table-hover responsive">
                          <thead class="bg-qi-dark text-white">
                              <tr>
                                  <th>Order</th>
                                  <th>Employee Name</th>
                                  <th>Phone</th>
                                  <th>Status</th>
                                  <th>Quantity</th>
                                  <th>Order Date</th>
                                  <th>Action Date</th>
                                  <th>Action</th>
                                <th>Preview</th>
                              </tr>
                           </thead>
                          <tbody>
                          {% for req in page_obj %}
                          <tr>
                              <td><a class="a-underline" href="{% url 'BusinessRequestDetails' req.id %}">{{ req.id }}</a></td>
                              <td>{{ req.first_name_en }} {{ req.last_name_en|default:'' }}</td>
                              <td>{{ req.phone }}</td>
                              <td><span class="badge bg-{% if req.status == 'Pending' %}warning{% elif req.status == 'Approved' %}success{% elif req.status == 'Reject' %}danger{% elif req.status == 'In Printing' %}warning{% elif req.status == 'Done' %}info{% endif %}">{{ req.status }}</span></td>
                              <td>{{ req.quantity }}</td>
                              <td><p data-bs-toggle="tooltip" data-bs-placement="top" title="{{ req.created_at }}">{{ req.created_at|naturalday:'d-m-Y' }}</p></td>
                              <td><p data-bs-toggle="tooltip" data-bs-placement="top" title="{{ req.status_change_at }}">{{ req.status_change_at|naturalday:'d-m-Y'|default:'' }}</p></td>
                              <td>{% if req.status == 'Pending' %}<div class="btn-group rounded-full" role="group"><a class="btn btn-sm btn-outline-success" href="{% url 'BusinessRequestApprove' req.id %}"><i class="bi bi-check-circle"></i></a><a class="btn btn-sm btn-outline-danger" href="{% url 'BusinessRequestReject' req.id %}"><i class="bi bi-slash-circle"></i></a></div>{% elif req.status == 'Approved' %}<a class="btn btn-sm btn-outline-warning text-white" href="{% url 'BusinessRequestInPrinting' req.id %}"><i class="bi bi-printer"></i></a>{% elif req.status == 'In Printing' %}<a class="btn btn-sm btn-outline-info text-white" href="{% url 'BusinessRequestDone' req.id %}"><i class="bi bi-check2-circle"></i></a>{% endif %}</td>
                              <td><a class="btn btn-sm btn-outline-danger" href="{% url 'pdf' req.id %}" target="_blank"><i class="bi bi-filetype-pdf"></i></a></td>
                          </tr>
                          {% endfor %}
                          </tbody>
                      </table>
                  </div>
                  <div class="row justify-content-center mt30 ">
                    <nav aria-label="Page navigation ">
                      <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="btn btn-sm btn-warning" href="?page={{ page_obj.previous_page_number }}">«</a></li>
                        {% else %}
                            <li class="disabled page-item"><span class="btn btn-sm btn-light">&laquo;</span></li>
                        {% endif %}
                        {% for i in page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
                            {% if page_obj.number == i %}
                                <li class="active page-item"><span class="btn btn-sm btn-light">{{ i }}</span>
                                </li>
                            {% else %}
                                {% if i == page_obj.paginator.ELLIPSIS %}
                                    <li class="page-item"><span class="btn btn-sm btn-light">{{ i }}</span></li>
                                {% else %}
                                    <li class="page-item"><a class="btn btn-sm btn-warning" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="btn btn-sm btn-warning" href="?page={{ page_obj.next_page_number }}">»</a></li>
                        {% else %}
                            <li class="disabled page-item"><span class="btn btn-sm btn-light">&raquo;</span></li>
                        {% endif %}
                    </ul>
                    </nav>
                  </div>
                </div>
            </section>

        </div>
    </div>
</div>





<script type="text/javascript">
  var srchval = JSON.parse('{{ session | escapejs }}');
  window.addEventListener('load', function () {
    // document.getElementById('cm').classList.add('active');
    document.getElementById('status').value = srchval[1];
    document.getElementById('keywords').value = srchval[0];
  })
</script>
{% endblock %}

{% include "footer.html" %}
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.1/js/buttons.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js">
</script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap5.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    const table = $('#cand_list').DataTable({
      dom: 'Brti',
      buttons: ['copy', 'excel', 'csv', 'print'],
      responsive: !0,
      fixedHeader: !0,
      stateSave: !0,
      colReorder: !0,
      scrollY: 600,
      deferRender: !0,
      scroller: !0,
      scrollCollapse: !0,
      paging: false,
    });
  });


</script>