{% extends "layout.html" %}
{% block content %}
{% load static %}
{% load socialaccount %}
{% load getnames %}
<div class="h-full-first-page" id="home">
    <main class="lg:mt-2 x2l:mt-12">
        <div class="my-container">
            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <div class="main-container flex flex-col-reverse md:flex-row">

                <div class="main-text flex-1 md:text-start">
                    <h1 class="text-3xl xs:text-4xl lg:text-6xl font-medium mt-5 sm:mt-16">Design</h1>
                    <h1 href="" class="text-3xl xs:text-4xl lg:text-6xl font-medium mt-5 sm:mt-16 typewrite"
                        data-period="2000" data-type='[ "What You Enjoy", "What You Need", "What You Love"]'>
                        <span class="wrap"></span>
                    </h1>
                    <p class="pr-5 pl-5 sm:pr-20 sm:pl-20 md:pr-40 md:pl-0 my-5 font-medium">Description of
                        services, who wre are as a company and some filters text about the company</p>
                    <button class="link-button learn-more mb-10 mt-5"><span class="circle"
                                                                            aria-hidden="true"><span
                            class="icon arrow"></span></span><span class="button-text">Get Started</span>
                    </button>
                    <div class="main-options flex items-center justify-center md:justify-start mb-10 md:mb-0 gap-6">
                        <div class="money bg-qitext w-fit p-2 rounded-full hover-up-transform cursor-pointer">
                            <img src="{% static 'images/teller.png' %}" alt="Teller" width="40px" height="40px"></div>
                        <div class="business bg-qitext w-fit p-2 rounded-full hover-up-transform cursor-pointer">
                            <img src="{% static 'images/businessman.png' %}" alt="Teller" width="40px" height="40px">
                        </div>
                        <div class="advertising bg-qitext w-fit p-2 rounded-full hover-up-transform cursor-pointer">
                            <img src="{% static 'images/cost.png' %}" alt="Teller" width="40px" height="40px"></div>
                    </div>
                </div>
                <div class="main-blob flex-1 flex justify-center mt-0 md:mt-8">
                    <canvas height="500px" width="500px" class="blob-canvas w-120 h-120 sm:w-auto sm:h-auto"
                            touch-action="none" id="canvas"></canvas>
                </div>
            </div>
        </div>
    </main>
</div>
<div data-bs-spy="scroll" data-bs-target="#qi-navbar" data-bs-offset="0" class="scrollspy-example" tabindex="0">
<div class="h-full-page" id="employee">
    <div class="register-page flex-1">
        <div class="my-container lg:flex x2l:block justify-center">
            <div class="register-card shadow-lg mt-4 mb-10 md:mt-16 flex bg-white h-auto x2l:h-250 w-auto lg:w-fit x2l:w-auto rounded-bl-4xl rounded-4xl">
                <div class="sgin-in-section p-2 xl:p-10 lg:flex flex-col justify-center text-center bg-qitext text-white"
                     style="flex: 1 1 0%;">
                    {% if user.is_authenticated %}
                    <h3 class="message text-3xl x2l:text-4xl font-extrabold font-roleway">Welcome Back!</h3>

                    <h3 class="message text-3xl x2l:text-4xl font-extrabold font-roleway">{{ data.displayName }}</h3>
                    <div class="px-8">
                        <div class="mt-5">
                            <a class="block w-full self-center mb-5 border-1 py-2 rounded-full hover:bg-white hover:text-qitext transition-all hover:transition-all ease-in-out hover:ease-in-out duration-500 hover:duration-500"
                               href="{% url 'logout' %}">
                                Log Out
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <h3 class="message text-3xl x2l:text-4xl font-extrabold font-roleway">Your are not login in</h3>
                    <p class="login-tip font-normal px-2 x2l:px-10 my-5 font-roleway">To stay connected with us
                        please login with your personal info</p>
                    <div class="px-8">
                        <div class="mt-5">
                            <a class="block w-full self-center mb-5 border-1 py-2 rounded-full hover:bg-white hover:text-qitext transition-all hover:transition-all ease-in-out hover:ease-in-out duration-500 hover:duration-500"
                               href="{% provider_login_url 'microsoft' process='login'  %}">
                                Log In
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!--                        <div class="register-section p-6 xs:p-7 py-10 sm:p-10 sm:py-16 lg:py-10 flex justify-center"-->
                <!--                             style="flex: 2 1 0%;">-->
                <!--                            <div class="text-center flex flex-col items-center justify-center w-full md:w-160 lg:w-80 x2l:w-160">-->
                <!--                                <h3 class="text-2xl sm:text-3xl x2l:text-4xl font-extrabold font-roleway">Let's Get-->
                <!--                                    Started</h3>-->
                <!--                                <h1 class="w-fit border-b-2 border-qitext font-roleway font-semibold text-lg sm:text-2xl mt-4 pb-2">-->
                <!--                                    Create An Account</h1>-->
                <!--                                <div class="register-form w-full mt-7">-->
                <!--                                    <form action="#">-->
                <!--                                        <div class="input-field mb-4"><input name="userName"-->
                <!--                                                                             class="w-full bg-gray-100 px-6 py-3 rounded-full focus-visible:outline-none"-->
                <!--                                                                             type="text" placeholder="User Name"-->
                <!--                                                                             value=""></div>-->
                <!--                                        <div class="input-field mb-4"><input name="email"-->
                <!--                                                                             class="w-full bg-gray-100 px-6 py-3 rounded-full focus-visible:outline-none"-->
                <!--                                                                             type="text" placeholder="Email" value="">-->
                <!--                                        </div>-->
                <!--                                        <div class="input-field mb-4"><input name="password"-->
                <!--                                                                             class="w-full bg-gray-100 px-6 py-3 rounded-full focus-visible:outline-none"-->
                <!--                                                                             type="password" placeholder="Password"-->
                <!--                                                                             value=""></div>-->
                <!--                                        <div class="input-field">-->
                <!--                                            <button type="submit"-->
                <!--                                                    class="w-full mb-4 mt-6 text-base sm:text-lg bg-qibg px-6 py-3 rounded-full focus-visible:outline-none hover:shadow-md transition-all hover:transition-all duration-500 hover:duration-500">-->
                <!--                                                Sign Up-->
                <!--                                            </button>-->
                <!--                                        </div>-->
                <!--                                        <div class="login-tip block lg:hidden font-medium my-2">Already have an account?-->
                <!--                                            <span class="text-qibg mx-1 pb-1 mt-3 sm:mt-0 block sm:inline">Log In</span>-->
                <!--                                        </div>-->
                <!--                                    </form>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </div>-->
            </div>
        </div>
    </div>
</div>
<div class="h-full-page" id="services">
    <div class="choose-service-page flex-1">
        <div class="my-container">
            <div class="choose-service-container flex flex-col lg:flex-row justify-center items-center gap-14 sm:gap-32 my-5 mb-14 lg:my-0 lg:mb-0 lg:h-250">
                <a class="cursor-pointer">
                    <div class="service flex flex-col items-center gap-4">
                        <div class="service-img bg-qitext w-fit p-8 rounded-full"><img
                                src="{% static 'images/business-card.png' %}" alt="Letter Head" height="150px"
                                width="150px"
                                class="w-20 h-20 sm:w-36 sm:h-36"></div>
                        <div class="text-2xl sm:text-3xl font-medium">Business Card</div>
                    </div>
                </a><a href="#">
                <div class="service flex flex-col items-center gap-4">
                    <div class="service-img bg-qitext w-fit p-8 rounded-full"><img src="{% static 'images/copy.png' %}"
                                                                                   alt="Letter Head"
                                                                                   height="150px" width="150px"
                                                                                   class="w-20 h-20 sm:w-36 sm:h-36">
                    </div>
                    <div class="text-2xl sm:text-3xl font-medium">Letter Head</div>
                </div>
            </a><a href="#">
                <div class="service flex flex-col items-center gap-4">
                    <div class="service-img bg-qitext w-fit p-8 rounded-full"><img
                            src="{% static 'images/presentation.png' %}" alt="Letter Head" height="150px" width="150px"
                            class="w-20 h-20 sm:w-36 sm:h-36"></div>
                    <div class="text-2xl sm:text-3xl font-medium">Presentation</div>
                </div>
            </a></div>
        </div>
    </div>
</div>
{% if user.is_authenticated %}

<div class="h-full-page" id="bcard">

    <section class="bcard-container flex-1">
        <div class="my-container">
{% if user_requests|length > 0 %}
            <div class="sgin-in-section p-2 xl:p-10 lg:flex flex-col justify-center text-center bg-qitext text-white">

                <h3 class="message text-3xl x2l:text-4xl font-extrabold font-roleway">Your orders</h3>
                </br>
                <table class="">
                    <tr>
                        <th>Request ID</th>
                        <th>Status</th>
                        <th>Quantity</th>
                        <th>Date</th>
                    </tr>
                    {% for req in user_requests %}
                    <tr>
                        <td>{{ req.id }}</td>
                        <td>{{ req.status }}</td>
                        <td>{{ req.quantity }}</td>
                        <td>{{ req.created_at }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            <div class="bcard-box flex flex-col lg:flex-row gap-14 lg:gap-0 mt-2 mb-10 lg:mt-16">

                <div class="create-form flex-1 text-center mx-0 md:mx-28 lg:mx-0">
                    <form action="" method="post">
                        <h1 class="font-roleway font-extrabold text-qitext text-3xl xl:text-5xl">Order Your BCard</h1>
                        {% csrf_token %}
                        <input name="full_name_en" type="text" hidden=""
                               value="{% if msg != 'POSTERROR' %}{{ data_response.FirstName }} {{ data_response.LastName|getnames:2 }}{% else %}{{ form.full_name_en.value|getnames:3 }}{% endif %}">
                        <input name="full_name_ar" type="text" hidden=""
                               value="{% if msg != 'POSTERROR' %}{{ data_response.First_Name_Arabic }} {{ data_response.Second_Arabic_Name|getnames:2 }}{% else %}{{ form.full_name_ar.value|getnames:3 }}{% endif %}">
                        <p class="font-roleway font-semibold my-3 xl:my-3 font-size-res">Enter The Required
                            Information</p>
                        <div class="border-1 relative border-qitext mx-16 sm:mx-28 xl:mx-28 mb-10 xl:mb-20">
                            <div class="absolute w-1/6 rounded-3xl bg-qitext"
                                 style="top: -50%; transform: translateY(-50%); right: -1px; height: 5px;"></div>
                        </div>
                        <div class="row input-group mx-0 md:mx-12 xl:mx-24">
                            <div class="mb-4">
                                <div class="input-field id-input shadow-sm flex items-center w-full rounded-full px-2 py-2 bg-gray-100">
                                    <input name="employee_id" type="text" maxlength="8" placeholder="Card ID"
                                           class="w-full pl-5 bg-inherit focus-visible:outline-none"
                                           value="{% if msg != 'POSTERROR' %}{{ data_response.EmployeeID }}{% else %}{{ form.employee_id.value }}{% endif %}" readonly>
                                    <div class="input-icon flex items-center justify-center bg-qibg p-2 rounded-full w-10 h-10">
                                        <img src="{% static 'images/id-card.png' %}" alt="Card" height="26px"
                                             width="26px">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="input-field shadow-sm flex items-center w-full rounded-full px-2 py-2 bg-gray-100">
                                    <input required id="jobTitle" name="job_title" type="text"
                                           placeholder="Job Title In English"
                                           class="w-full pl-5 bg-inherit focus-visible:outline-none"
                                           maxlength="26" value="{% if msg != 'POSTERROR' %}{{ data_response.Designation }}{% else %}{{ form.job_title.value }}{% endif %}">
                                    <div class="input-icon bg-qibg p-2 rounded-full"><img
                                            src="{% static 'images/portfolio.png' %}" alt="Card" height="26px"
                                            width="26px">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="input-field shadow-sm flex items-center w-full rounded-full px-2 py-2 bg-gray-100">
                                    <input required id="jobTitleAr" name="job_title_ar" type="text"
                                           placeholder="Job Title In Arabic"
                                           class="w-full pl-5 bg-inherit focus-visible:outline-none"
                                           maxlength="26" value="{% if msg != 'POSTERROR' %}{{ data_response.Designation }}{% else %}{{ form.job_title_ar.value }}{% endif %}">
                                    <div class="input-icon bg-qibg p-2 rounded-full"><img
                                            src="{% static 'images/portfolio.png' %}" alt="Card" height="26px"
                                            width="26px">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="input-field shadow-sm flex items-center w-full rounded-full px-2 py-2 bg-gray-100">
                                    <input required id="phoneNumber" name="phone" type="text" placeholder="Phone Number"
                                           class="w-full pl-5 bg-inherit focus-visible:outline-none"
                                           maxlength="14" value="{% if msg != 'POSTERROR' %}{{ data_response.Work_phone|default:'+964780XXXXXXX' }}{% else %}{{ form.phone.value }}{% endif %}">
                                    <div class="input-icon bg-qibg p-2 rounded-full"><img
                                            src="{% static 'images/call.png' %}"
                                            alt="Card"
                                            height="26px"
                                            width="26px"></div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="input-field shadow-sm flex items-center w-full rounded-full px-2 py-2 bg-gray-100">
                                    <input required name="quantity" type="number" min="1" placeholder="Quantity"
                                           class="w-full pl-5 bg-inherit focus-visible:outline-none"
                                           value="{% if msg != 'POSTERROR' %}100{% else %}{{ form.quantity.value }}{% endif %}" max="1000">
                                    <div class="input-icon bg-qibg p-2 rounded-full"><img
                                            src="{% static 'images/money.png' %}" alt="Card" height="26px" width="26px">
                                    </div>
                                </div>
                            </div>
                            {% if form.errors %}
                            <div class="alert alert-error mt-3" role="alert">
                                <p>Please check the below:</p>
                                <ol>
                                    {% for field in form %}
                                    {% for error in field.errors %}
                                    <li>{{field.label}} : {{ error }}</li>
                                    {% endfor %}
                                    {% endfor %}
                                </ol>
                            </div>
                            {% endif %}


                            <button type="submit"
                                    class="input-field mb-4 mt-8 shadow-sm flex items-center w-full rounded-full px-2 py-2 bg-qitext text-white scale-hover">
                                <div class="button-text w-full font-light">Submit</div>
                                <div class="input-icon bg-qibg p-2 rounded-full"><img
                                        src="{% static 'images/right-arrow.png' %}" alt="Card" height="26px"
                                        width="26px">
                                </div>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="card-preview flex flex-col items-center justify-center flex-1">
                    <div class="flip-card">
                        <div class="flip-card-inner ">
                            <div class="flip-card-front">
                                <div class="card-box shadow-xl st:w-220 st:h-120 xl:w-250 xl:h-160 rounded-bl-4xl bg-white flex">
                                    <div class="qi-logo-contact-info flex-left text-small xxs:text-xs xl:text-base st:text-lg flex flex-col items-center justify-between pt-7 pb-3 xxs:pt-5 xxs:pb-5 st:pt-14 st:pb-10">
                                        <div class="qi-logo"><img src="{% static 'images/qi-logo-yellow.svg' %}"
                                                                  alt="Qi"
                                                                  width="112px" height="112px"
                                                                  class="w-10 h-10 xxs:w-12 xss:h-12 xs:w-16 xs:h-16 xl:h-28 xl:w-28">
                                        </div>
                                        <div class="contact-info px-0 pr-0 xs:pr-5 st:px-5 border-none sm:border-solid xs:border-r-1 st:border-r-2 border-gray-500 [&amp;>div]:mb-2">
                                            <div class="single-info flex flex-row-reverse items-center gap-1 xs:gap-2">
                                                <div><img src="{% static 'images/email.png' %}" alt="Email" width="20px"
                                                          height="20px" class="w-3 xxs:w-4 xs:w-5"></div>
                                                <div>{{ data_response.EmailID }}</div>
                                            </div>
                                            <div class="single-info flex flex-row-reverse items-center gap-1 xs:gap-2">
                                                <div><img src="{% static 'images/web.png' %}" alt="Email" width="20px"
                                                          height="20px" class="w-3 xxs:w-4 xs:w-5"></div>
                                                <div>www.qi.iq</div>
                                            </div>
                                            <div class="single-info flex flex-row-reverse items-start xs:items-center gap-1 xs:gap-2">
                                                <div><img src="{% static 'images/pin.png' %}" alt="Email" width="20px"
                                                          height="20px" class="w-3 xxs:w-4 xs:w-5"></div>
                                                <span class="">Iraq - {{ data_response.LocationName|default:'Baghdad' }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qi-logo-name-and-phone flex-right flex flex-col justify-between pb-5 xs:pb-10">
                                        <div class="card-qi-header flex w-fit st:w-auto self-end st:self-auto bg-yellow-300 rounded-bl-4xl">
                                            <div><img src="{% static 'images/qi-logo-yellow.svg' %}" alt="Qi"
                                                      width="100px"
                                                      height="100px"
                                                      class="w-14 h-14 st:w-20 st:h-20 xl:h-24 xl:w-24"></div>
                                            <div><img src="{% static 'images/qi-logo-yellow.svg' %}" alt="Qi"
                                                      width="100px"
                                                      height="100px"
                                                      class="w-14 h-14 st:w-20 st:h-20 xl:h-24 xl:w-24"></div>
                                            <div><img src="{% static 'images/qi-logo-yellow.svg' %}" alt="Qi"
                                                      width="100px"
                                                      height="100px"
                                                      class="w-14 h-14 st:w-20 st:h-20 xl:h-24 xl:w-24"></div>
                                            <div><img src="{% static 'images/qi-logo-yellow.svg' %}" alt="Qi"
                                                      width="100px"
                                                      height="100px"
                                                      class="w-14 h-14 st:w-20 st:h-20 xl:h-24 xl:w-24"></div>
                                        </div>
                                        <div class="card-name my-5 st:my-0 text-start md:pl-4">
                                            <div class="person-name text-xs xxs:text-sm xs:text-lg st:text-xl xl:text-2xl font-extrabold font-roleway">
                                                {{ data_response.FirstName }} {{ data_response.LastName }}
                                            </div>
                                            <div id="Designation"
                                                 class="job-title overflow-hidden text-small xxs:text-xs xs:text-sm st:text-base xl:text-lg font-medium font-roleway">
                                                {{ data_response.Designation }}
                                            </div>
                                        </div>
                                        <div class="contact-info text-phone xxs:text-xs st:text-base xl:text-base px-0 xs:px-2 st:px-5 [&amp;>div]:mb-2">
                                            <div class="single-info flex items-start justify-start gap-1 xs:gap-3">
                                                <div class="mt-1 w-3 h-3 xs:w-auto xs:h-auto "><img
                                                        src="{% static 'images/call.png' %}" alt="Email" width="20px"
                                                        height="20px"></div>
                                                <div>
                                                    <div id="phoneNumbervalue" class="phone">{{ data_response.Work_phone|default:'+964780XXXXXXX' }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-name font-roleway font-medium hidden st:block">
                                                International Smart Card<small
                                                    class="text-xs font-medium mx-1 hidden md:inline">(Semi
                                                Goverment)</small></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <div class="card-box shadow-xl st:w-220 st:h-120 xl:w-250 xl:h-160 rounded-bl-4xl bg-white flex">
                                    <div class="qi-logo-contact-info flex-left text-small xxs:text-xs xl:text-base st:text-lg flex flex-col items-center justify-between pt-7 pb-3 xxs:pt-5 xxs:pb-5 st:pt-14 st:pb-10">
                                        <div class="qi-logo"><img src="{% static 'images/qi-logo-yellow.svg' %}"
                                                                  alt="Qi"
                                                                  width="112px" height="112px"
                                                                  class="w-10 h-10 xxs:w-12 xss:h-12 xs:w-16 xs:h-16 xl:h-28 xl:w-28">
                                        </div>
                                        <div class="contact-info px-0 pr-0 xs:pr-5 st:px-5 border-none sm:border-solid xs:border-r-1 st:border-r-2 border-gray-500 [&amp;>div]:mb-2">
                                            <div class="single-info flex flex-row-reverse items-center gap-1 xs:gap-2">
                                                <div><img src="{% static 'images/email.png' %}" alt="Email" width="20px"
                                                          height="20px" class="w-3 xxs:w-4 xs:w-5"></div>
                                                <div>{{ data_response.EmailID }}</div>
                                            </div>
                                            <div class="single-info flex flex-row-reverse items-center gap-1 xs:gap-2">
                                                <div><img src="{% static 'images/web.png' %}" alt="Email" width="20px"
                                                          height="20px" class="w-3 xxs:w-4 xs:w-5"></div>
                                                <div>www.qi.iq</div>
                                            </div>
                                            <div class="single-info flex flex-row-reverse items-start xs:items-center gap-1 xs:gap-2">
                                                <div><img src="{% static 'images/pin.png' %}" alt="Email" width="20px"
                                                          height="20px" class="w-3 xxs:w-4 xs:w-5"></div>
                                                <span class="font-cairo">العراق - بغداد</span></div>
                                        </div>
                                    </div>
                                    <div class="qi-logo-name-and-phone flex-right flex flex-col justify-between pb-5 xs:pb-10">
                                        <div class="card-qi-header flex w-fit st:w-auto self-end st:self-auto bg-yellow-300 rounded-bl-4xl">
                                            <div><img src="{% static 'images/qi-logo-yellow.svg' %}" alt="Qi"
                                                      width="100px"
                                                      height="100px"
                                                      class="w-14 h-14 st:w-20 st:h-20 xl:h-24 xl:w-24"></div>
                                            <div><img src="{% static 'images/qi-logo-yellow.svg' %}" alt="Qi"
                                                      width="100px"
                                                      height="100px"
                                                      class="w-14 h-14 st:w-20 st:h-20 xl:h-24 xl:w-24"></div>
                                            <div><img src="{% static 'images/qi-logo-yellow.svg' %}" alt="Qi"
                                                      width="100px"
                                                      height="100px"
                                                      class="w-14 h-14 st:w-20 st:h-20 xl:h-24 xl:w-24"></div>
                                            <div><img src="{% static 'images/qi-logo-yellow.svg' %}" alt="Qi"
                                                      width="100px"
                                                      height="100px"
                                                      class="w-14 h-14 st:w-20 st:h-20 xl:h-24 xl:w-24"></div>
                                        </div>
                                        <div class="card-name my-5 st:my-0 text-end pr-4 sm:pr-6 lg:pr-10">
                                            <div class="person-name text-xs xxs:text-sm xs:text-lg st:text-xl xl:text-2xl font-extrabold font-cairo">
                                                {{ data_response.First_Name_Arabic }} {{ data_response.Second_Arabic_Name }}
                                            </div>
                                            <div id="ArDesignation"
                                                 class="job-title overflow-hidden text-small xxs:text-xs xs:text-sm st:text-base xl:text-lg font-medium font-cairo">
                                                {{ data_response.Designation }}
                                            </div>
                                        </div>
                                        <div class="contact-info text-phone xxs:text-xs st:text-base xl:text-base px-0 xs:px-2 st:px-5 [&amp;>div]:mb-2">
                                            <div class="single-info flex items-start justify-start gap-1 xs:gap-3">
                                                <div class="mt-1 w-3 h-3 xs:w-auto xs:h-auto "><img
                                                        src="{% static 'images/call.png' %}" alt="Email" width="20px"
                                                        height="20px"></div>
                                                <div>
                                                    <div id="phoneNumberValueAr" class="phone">{{ data_response.Work_phone|default:'+964780XXXXXXX' }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-name font-cairo font-medium hidden st:block">
                                                العالمية للبطاقة الذكية<small
                                                    class="text-xs font-medium mx-1 hidden md:inline">(قطاع
                                                مختلط)</small></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filp-button mt-8">
                        <div id="flipCard" class="flex items-center flex-col gap-1 cursor-pointer"><img
                                src="{% static 'images/360.png' %}"
                                alt="Flip"
                                width="42px"
                                height="42px"><span
                                class="font-normal">Click here to flip the card</span></div>
                    </div>
                </div>


            </div>


        </div>
    </section>

</div>
{% endif %}
</div>
</div>
<script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'js/blob.js' %}"></script>
<script>
    $('#jobTitleAr').keyup(function() {
    if ($('#jobTitleAr').val() != '') {
  $('#ArDesignation').text($('#jobTitleAr').val());
  } else {
  $('#ArDesignation').text('{{ data_response.Designation }}');
  }
});

    $('#jobTitle').keyup(function() {
    if ($('#jobTitle').val() != '') {
  $('#Designation').text($('#jobTitle').val());
  } else {
  $('#Designation').text('{{ data_response.Designation }}');
  }
});
    $('#phoneNumber').keyup(function() {
     if ($('#phoneNumber').val() != '') {
  $('#phoneNumbervalue').text($('#phoneNumber').val());
  $('#phoneNumberValueAr').text($('#phoneNumber').val());
  }else {
   $('#phoneNumbervalue').text({{ data_response.Work_phone }});
  $('#phoneNumberValueAr').text({{ data_response.Work_phone }});
  }
});

$('#flipCard').click(function() {
    $('.flip-card').toggleClass('rotate-card');
});
</script>
{% endblock %}