{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Qi Creative</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>

    </script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/index-ce0453.css' %}?v=0.55">
</head>
<body style="background-color: #f0cc00">
<div id="root">
    <div class="bg-qibg text-qitext pt-2">
        <nav class="navbar navbar-expand-lg sticky-top  navbar-light" id="qi-navbar">
            <div class="container-fluid" >
                <div class="navbar-toggler">
                <button class="btn-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#QioffcanvasRight" aria-controls="QioffcanvasRight">
                          <img src="{% static '/images/Burger_button.svg' %}" alt="Logo" height="20px" width="20px" class="d-inline-block">
                </button>
                <button class="btn-transparent" type="button">
                          <img src="{% static '/images/Search.svg' %}" alt="Logo" height="20px" width="20px" class="d-inline-block" >
                </button>
                <button class="btn-transparent" type="button">
                          <img src="{% static '/images/profile.svg' %}" alt="Profile" height="18px" width="18px" class="d-inline-block">
                </button>
                    </div>
                <a class="navbar-brand font-bold text-3xl sm:text-4xl font-bebas xs:block" href="/">
                        <img src="{% static '/images/qi-logo.svg' %}" alt="Logo" height="48px" width="48px" class="d-inline-block">
                        <p class="nav-text">Creative</p>
                </a>
                <div class="collapse navbar-collapse bg-white rounded-l-full" id="QinavbarToggler">
                    <ul class="nav nav-navbar items-center me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link link-hover text-dark" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-hover  cursor-pointer text-dark" href="/#services">Services</a>
                        </li>
                        {% if user_requests|length > 0 %}
                        <li class="nav-item">
                            <a class="nav-link link-hover  cursor-pointer text-dark" href="/#orders">Your Orders</a>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link link-hover  cursor-pointer text-dark" href="/#bcard">Business Card</a>
                        </li>
                        {% if user.is_superuser or user.is_businesscard_admin %}
                        <li class="nav-item">
                            <a class="nav-link link-hover  cursor-pointer text-dark" href="{% url 'requests' %}">All Orders</a>
                        </li>
                        {% endif %}
                           <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                             <img src="{% static '/images/profile.svg' %}" alt="Logo" height="32px" width="32px" class="d-inline-block" style="margin-right: 20px;">
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item link-hover  cursor-pointer text-dark" href="{% url 'logout' %}">Logout</a></li>
                          </ul>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link link-hover  cursor-pointer text-dark" href="{% provider_login_url 'microsoft' process='login'  %}" target="_parent">Login</a>
                        </li>
                        {% endif %}
<!--                        <li style="margin-right: 0px;">-->
<!--                            <a href="#">-->
<!--                                <div class="border-2 border-black flex items-center flex-row-reverse gap-1 px-3 py-1 rounded-full">-->
<!--                                    <input type="text" class="w-24 focus-visible:outline-none">-->
<!--                                        <button>-->
<!--                                            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="text-xl" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">-->
<!--                                                <circle cx="11" cy="11" r="8"></circle>-->
<!--                                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>-->
<!--                                            </svg>-->
<!--                                        </button>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div>
        </nav>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="QioffcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <ul class="list-group">
                        <li class="nav-item m-3">
                            <a class="nav-link text-3xl link-hover text-dark" href="/">Home</a>
                        </li>
                        <li class="nav-item m-3">
                            <a class="nav-link text-3xl link-hover  cursor-pointer text-dark" href="/#services">Services</a>
                        </li>
                        {% if user_requests|length > 0 %}
                        <li class="nav-item m-3">
                            <a class="nav-link text-3xl link-hover  cursor-pointer text-dark" href="/#orders">Your Orders</a>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li class="nav-item m-3">
                            <a class="nav-link text-3xl link-hover  cursor-pointer text-dark" href="/#bcard">Business Card</a>
                        </li>

                        {% if user.is_superuser or user.is_businesscard_admin %}
                        <li class="nav-item m-3">
                            <a class="nav-link text-3xl link-hover  cursor-pointer text-dark" href="{% url 'requests' %}">All Orders</a>
                        </li>
                        {% endif %}
                           <li class="nav-item dropdown">
                          <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                             <img src="{% static '/images/icons8-person-64.png' %}" alt="Logo" height="32px" width="32px" class="d-inline-block" style="margin-right: 20px;">
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item text-3xl link-hover  cursor-pointer text-dark" href="{% url 'logout' %}">Logout</a></li>
                          </ul>
                        </li>

                        {% else %}
                        <li class="nav-item m-3">
                            <a class="nav-link text-3xl link-hover  cursor-pointer text-dark" href="{% provider_login_url 'microsoft' process='login'  %}" target="_parent">Login</a>
                        </li>
                        {% endif %}
<!--                        <li style="margin-right: 0px;">-->
<!--                            <a href="#">-->
<!--                                <div class="border-2 border-black flex items-center flex-row-reverse gap-1 px-3 py-1 rounded-full">-->
<!--                                    <input type="text" class="w-24 focus-visible:outline-none">-->
<!--                                        <button>-->
<!--                                            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="text-xl" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">-->
<!--                                                <circle cx="11" cy="11" r="8"></circle>-->
<!--                                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>-->
<!--                                            </svg>-->
<!--                                        </button>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </li>-->
                    </ul>
  </div>
</div>
                    {% if messages %}
            {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message }}
        </div>
            {% endfor %}
            {% endif %}
{% block content %}{% endblock %}
    </div>
</div>
<style type="text/css" data-typed-js-css="true">
        .typed-cursor{
          opacity: 1;
        }
        .typed-cursor.typed-cursor--blink{
          animation: typedjsBlink 0.7s infinite;
          -webkit-animation: typedjsBlink 0.7s infinite;
                  animation: typedjsBlink 0.7s infinite;
        }
        @keyframes typedjsBlink{
          50% { opacity: 0.0; }
        }
        @-webkit-keyframes typedjsBlink{
          0% { opacity: 1; }
          50% { opacity: 0.0; }
          100% { opacity: 1; }
        }


</style>
<script>
    var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #000}";
        document.body.appendChild(css);
    };

</script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>