{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>

    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/index-ce0453.css' %}">
</head>
<body style="background-color: #f0cc00">
<div id="root">
    <div class="bg-qibg text-qitext">
        <nav class="nav my-6 sm:my-8 lg:my-0 x2l:my-8 sticky top-0 z-50 bg-qibg lg:bg-transparent">
            <div class="absolute width-responsive hidden lg:block right-0 h-16 bg-white rounded-l-full"
                 style="top: 50%; transform: translateY(-50%);"></div>
            <div class="nav-container my-container flex justify-between items-center gap-20 x2l:gap-0">
                <div class="nav-logo relative cursor-pointer transition-all duration-500 flex items-center gap-3 sm:gap-4 x2l:flex-1 bg-qibg lg:bg-transparent px-6 pl-10 sm:px-10 py-4 rounded-tl-3xl rounded-br-3xl"
                     style="z-index: 3; left: -40px;">
                    <div class="logo rounded-full"><img src="{% static '/images/qi-logo.svg' %}" alt="Logo"
                                                        height="72px" width="72px"
                                                        class="h-12 w-12 sm:h-20 sm:w-20"></div>
                    <div class="typography relative lg:pb-1 lg:px-2 lg:pt-2 rounded-md font-bold text-3xl sm:text-4xl font-bebas hidden xs:block"
                         style="letter-spacing: 2px; z-index: 3;">Creative
                    </div>
                </div>
                <div class="nav-links hidden lg:block relative z-10 x2l:flex-1">
                    <ul class="flex justify-between items-center font-medium">
                        <li><a class="link-hover cursor-pointer" href="/">Home</a></li>
                        <li><a class="link-hover cursor-pointer" href="#employee">Employee</a></li>
                        <li><a class="link-hover cursor-pointer" href="#services">Services</a></li>
                        <li><a class="link-hover cursor-pointer" href="#bcard">Business Card</a></li>
                        <li style="margin-right: 0px;"><a href="#">
                            <div class="border-2 border-black flex items-center flex-row-reverse gap-1 px-3 py-1 rounded-full">
                                <input type="text" class="w-24 focus-visible:outline-none">
                                <button>
                                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                                         stroke-linecap="round" stroke-linejoin="round" class="text-xl" height="1em"
                                         width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                </button>
                            </div>
                        </a></li>
                    </ul>
                </div>
                <div class="hamburger-button block lg:hidden" style="z-index: 3;">
                    <button class="burger ">
                        <div class="burger__line"></div>
                        <div class="burger__line"></div>
                        <div class="burger__line"></div>
                    </button>
                </div>
            </div>
        </nav>
{% block content %}{% endblock %}
    </div>

</div>

<script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'js/blob.js' %}"></script>
<script>
    $('#jobTitleAr').keyup(function() {
    if ($('#jobTitleAr').val() != '') {
  $('#ArDesignation').text($('#jobTitleAr').val());
  } else {
  $('#ArDesignation').text('العنوان الوظيفي');
  }
});

    $('#jobTitle').keyup(function() {
    if ($('#jobTitle').val() != '') {
  $('#Designation').text($('#jobTitle').val());
  } else {
  $('#Designation').text('Job Title');
  }
});
    $('#phoneNumber').keyup(function() {
  $('#phoneNumbervalue').text($('#phoneNumber').val());
  $('#phoneNumberValueAr').text($('#phoneNumber').val());
});

$('#flipCard').click(function() {
    $('.flip-card').toggleClass('rotate-card');
});
</script>
<style type="text/css" data-typed-js-css="true">
        .typed-cursor{
          opacity: 1;
        }
        .typed-cursor.typed-cursor--blink{
          animation: typedjsBlink 0.7s infinite;
          -webkit-animation: typedjsBlink 0.7s infinite;
                  animation: typedjsBlink 0.7s infinite;
        }
        @keyframes typedjsBlink{
          50% { opacity: 0.0; }
        }
        @-webkit-keyframes typedjsBlink{
          0% { opacity: 1; }
          50% { opacity: 0.0; }
          100% { opacity: 1; }
        }


</style>
<script>
    var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #000}";
        document.body.appendChild(css);
    };

</script>
</body>
</html>